# Dependencias de Node
node_modules/
npm-debug.log
yarn-error.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Builds y logs
dist/
build/
*.log